# Віртуальне середовище (найважливіше, воно важить сотні мегабайт)
venv/
env/
.venv/

# Тимчасові файли Python (кеш)
__pycache__/
*.py[cod]
*$py.class

# Секретні змінні (якщо ти створиш .env файл для паролів)
.env

# Налаштування твого редактора (VS Code або PyCharm)
.vscode/
.idea/

# Файли, які завантажують користувачі (картинки подарунків)
media/

# Логи та системні файли
*.log
.DS_Store